.color {
  &#{&}--1 {
    color: $color1;
  }

  &#{&}--2 {
    color: $color2;
  }

  &#{&}--3 {
    color: $color3;
  }

  &#{&}--4 {
    color: $color4;
  }

  &#{&}--5 {
    color: $color5;
  }
}

.bg {
  &#{&}--1 {
    color: $color1;
  }

  &#{&}--2 {
    color: $color2;
  }

  &#{&}--3 {
    color: $color3;
  }

  &#{&}--4 {
    color: $color4;
  }

  &#{&}--5 {
    color: $color5;
  }
}

.text {
  &#{&}--uppercase {
    text-transform: uppercase;
  }
}