.button {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: center;
  font-family: $font-family;
  padding: 0 30px;
  border: 0;
  cursor: pointer;
  height: $container-height;

  &--no-style {
    height: auto;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
  }

  &--stretch {
    width: 100%;
  }
}
