.paragraph {
  font-family: $font-family;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color1;
  margin: 10px 0;
}
