.dropdown-filter {
  $root: &;

  display: flex;
  padding: 25px 0;

  &__label {
    flex-basis: 10%;
    min-width: 10%;
    align-self: center;
  }

  .dropdown {
    flex-basis: 100%;
    margin-left: 31px;
  }

  &--size-S {
    #{$root}__label {
      flex-basis: 60%;
    }

    .dropdown {
      max-width: 40%;
      margin-left: auto;
    }
  }
}
