.dropdown {
  $root: &;

  font-family: $font-family;
  font-size: 18px;
  position: relative;
  background: $color5;
  cursor: pointer;

  &--active {
    border-bottom: 0;

    #{$root}__arrow {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }

  &__arrow {
    transition: transform 0.3s;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -9px;

    img {
      width: 18px;
      height: 18px;
    }
  }

  &__box {
    height: $container-height;
    padding-left: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 18px;
  }

  &__active-item {
    border: 1px solid $dropdown-color;
  }

  &__item {
    transition: transform 0.3s;
    will-change: translateX;

    &:hover {
      transform: translateX(20px);
    }
  }

  &__items {
    position: absolute;
    width: 100%;
    border: 1px solid $dropdown-color;
    border-top: 0;
    background-color: white;
    max-height: 222px;
    z-index: 2;
  }

  &__search {
    width: 100%;
    font-family: $font-family;
    font-size: 18px;
    border: 1px solid $dropdown-color;
  }
}
